<div>
    <h2><em>{{newMessage}}</em></h2>
</div>

<div>You have entered: {{textInput}}</div>

<div>You have checked: {{checkboxInput}}</div>

<div>
    You have radio'd:
    {{#if radioInputYes}}
        yes
    {{else if radioInputNo}}
        no
    {{else if radioInputMaybe}}
        maybe
    {{/if}}
</div>

<div>You have selected {{select}}</div>

<div>You have entered {{textarea}}</div>